body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

.marker {
    background-size: cover;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

/* .close {
    z-index: 100;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 30px;
    cursor: pointer;
} */

